{% extends 'base.html' %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Articles Feed</h1>
        </div>
    </div>

    <div class="row justify-content-center">
        {% for article in articles %} 
            <div class="col-12">
                <div class="card mb-3">
                    <img src="https://via.placeholder.com/1200x300" 
                    class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="row my-2 align-items-baseline">
                            <div class="col-sm-12 col-md-10">
                                <h5 class="card-title">{{ article.title }}</h5>
                            </div>
                            <div class="col-sm-6 col-md-2">
                                <a href="{{ article.author.get_absolute_url }}">
                                    <div class="d-flex">
                                    <img class="rounded mx-auto" src="{{ article.author.profile.image.url }}" 
                                    alt="{{ article.title }} by {{ article.author }}" width="50" height="50">
                                    <div>
                                        <h4>{{ article.author }}</h4>
                                        <small>{{ article.author.articles.count }}</small>
                                    </div>
                                </div>
                                </a>
                            </div>
                        </div>

                        <p class="card-text">
                            {{ article.content }}
                        </p>
                        <div class="card-text d-flex align-items-center">
                            <small class="text-muted">
                                {{ article.created_at }}
                            </small>
                            <div class="ml-3">
                                {% for tag in article.tags_list %}
                                    <small>
                                        #{{ tag }}
                                    </small>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="col-12">
                <div class="card p-4">
                    <h3>Feed is Blank!</h3>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}